img[src~="websitepics/tester-2.png"] {
  width:250px;
  height:250px;
  display: block;
  margin: 0 auto;
}
img[src~="https://assets.entrepreneur.com/content/3x2/2000/20151125105751-questions-1014060-1920.jpeg"] {
  width:330px;
  height:220.11px;
  display: block;
  margin: 0 auto;
}
img[src~="websitepics/j0shbl0ck.png"] {
  width:200px;
  height:200px;
  display: block;
  margin: 0 auto;
}
}
img[src~="https://s3.amazonaws.com/finecooking.s3.tauntonclud.com/app/uploads/2000/12/19164801/beef-wellington_wide.jpg"] {
  width:300px;
  height:250px;
  display: block;
  margin: 0 auto;
}
}
img[src~="https://cafedelites.com/wp-content/uploads/2018/04/Creamy-Spinach-Stuffed-Salmon-IMAGE-6.jpg"] {
  width:300px;
  height:500px;
  display: block;
  margin: 0 auto;
}

